* { 
  box-sizing: border-box; 
  margin: 0; 
  padding: 0; 
  font-family: Roboto;
} 

body{
  background-image: url(https://static.vecteezy.com/system/resources/previews/031/425/592/non_2x/aerial-view-of-petrochemical-industry-refinery-in-the-morning-background-energy-industrial-plant-oil-station-manufacturing-for-fuel-and-energy-furnace-factory-line-free-photo.jpeg);
  background-repeat: no-repeat;
  background-position:top;
  background-size: cover;
  background-attachment: fixed;

}





.base{
  top: 50%; 
  left: 50%; 
  display:flex;
  position: absolute;
  flex-direction: column; 
  transform: translate(-50%, -50%); 
  border-radius: 25px;
  background: #f2f2f2;
  background-position: left top;
  background-repeat: repeat;
  border: 1px solid #ccc; 
  padding: 20px;
  width: 500px;
  height: 700px;
  box-shadow: 0 10px 8px black;
}

input[type="text"], select {
  width: 100%; 
  padding: 10px; 
  margin: 10px 0; 
  display: inline; 
  border: 1px solid #ccc; 
  border-radius: 5px; 
  box-sizing: border-box; 
}

input:hover {
  transform: scale(1.01);
}


button{ 
  border-radius: 4px;
  width: 100%;
  padding: 10px 20px; 
  background-color:  #318CE7; 
  color: white; 
  border: none;  
  height: 60px; /* adjust the height */ 
  font-size: large;
  position: relative;
   /* Adjust this value to your preference */
  display: block; 
} 

button:hover{
  background-color: #2977c4;
}

body {
  background-repeat: no-repeat;
  background-position:top;
  background-size: cover;
  background-attachment: fixed;
}

input:hover {
  border-color: rgb(64, 64, 64);
}

.profile-header {
  background-color: #f2f2f2; 
  padding: 20px;
  text-align: center;
  border-bottom: 2px solid #ccc; 
  margin-bottom: 20px; 
  margin-left: auto; 
  margin-right: auto; 
  border-radius: 25px; 
  box-shadow: 0 2px 3px black; 

}

.profile-header h2 {
  margin: 0;
  color: #333; 
  font-size: 20px; 
}


