* { 
  box-sizing: border-box; 
  margin: 0; 
  padding: 0; 
  font-family: Roboto;
} 

body{
  background-image: url(https://static.vecteezy.com/system/resources/previews/031/425/592/non_2x/aerial-view-of-petrochemical-industry-refinery-in-the-morning-background-energy-industrial-plant-oil-station-manufacturing-for-fuel-and-energy-furnace-factory-line-free-photo.jpeg);
  background-repeat: no-repeat;
  background-position:top;
  background-size: cover;
  background-attachment: fixed;

}

.container {
  width: 750px; 
  height: 480px; 
  background: #fff; 
  box-shadow: 0 10px 15px rgba(179, 179, 179, 0.7); 
  position: absolute; 
  top: 40%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  border-radius: 10px; 
  display: flex; 
  flex-direction: column; 
  justify-content: space-evenly; 
  padding: 20px; 
  border: 1px solid black;
}

table {
  border-collapse: collapse; /* This property ensures that adjacent cells share borders */
  height: auto; 
  position: relative;
  top: -50px;
  width: 700px; 
  height: 250px; 
  top:-60px;
 
}

th, td {
  border: 1; /* Sets a solid black border around each cell */
  padding: 10px; /* Adjust padding as needed */
  text-align: left;
/* Adjust text alignment as needed */
}

th{
  width: 100px;
}

.text{
  margin-bottom: 40px;
  text-align: center;
  position: relative;
  top: px;
 
}
